.message-display {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    overflow: wrap;
}

.sender {
    margin-right: 15px;
    margin-left: auto;
    background-color: #27222c;
}

.recipient {
    margin-left: 15px;
    margin-right: auto;
    background-color: #47525e;
}

.message-text-display {
    color: white;
    font-size: 14px;
    border-radius: 10px;
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 5px;
    max-width: 60%;
    word-break: break-word;
}

.message-time-display {
    font-size: 10px;
    color: #d1d1d1;
    background-color: none;
    margin-top: 0;
    margin-bottom: 10px;
}