.message-display {
    margin-bottom: 10px;
    display: flex;
}

.sender {
    margin-right: 15px;
    margin-left: auto;
    background-color: #27222c;
}

.recipient {
    margin-left: 15px;
    justify-self: left;
    background-color: #47525e;
}

.message-text-display {
    color: white;
    font-size: 12px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 0px;
    display: inline-block;
    padding: 5px;
}